@import url('https://fonts.googleapis.com/css2?family=Zen+Kaku+Gothic+Antique:wght@300;400&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Zen Kaku Gothic Antique', sans-serif;
}
ul{
    list-style: none;
}
.App{
    /* min-height:200vh; */
    position: relative;
    background-color: #141414;
    overflow: hidden;
}